{% extends 'base.html' %}

{% block title %}Verify Account{% endblock %}

{% block content %}

<div class="container py-5 text-center">

    <h2>Verify Your Account</h2>

    <p>We sent a 6-digit OTP to your email</p>

    <form method="POST">
        {% csrf_token %}

        <input type="text"
               name="otp"
               placeholder="Enter OTP"
               required
               class="form-control w-50 mx-auto">

        <br>

        <button type="submit" class="btn btn-primary">
            Verify
        </button>
    </form>

    <br>
    <p>
    Didn't receive OTP?
    <a href="/resend-otp/">Resend</a>
    </p>

    {% if messages %}
        {% for message in messages %}
            <p style="color:green;">{{ message }}</p>
        {% endfor %}
    {% endif %}

</div>

{% endblock %}